th {
  background-color: #746655;
  color: white;
  font-size: 20px;
}

a {
  color: rgb(139, 3, 139);
  font-size: 30px;
}

body {
  background-color: #d5c3aa;
}

#fullName {
  font-weight: bold;
  font-size: 18px;
}
