.nav-wrapper {
  background-color: #e1b80d;
}

.brand-logo {
  margin-left: 15px;
}

a {
  font-size: 15px;
}
/* i.material-icons {
  font-size: 40px;
} */
/* 
https://www.canva.com/design/DADfIIHpJyk/remix?action2=create&mediaId=DADfIIHpJyk&signupReferrer=blog&utm_source=blog&utm_medium=content&utm_campaign=100-color-combinations&%24desktop_url=https%3A%2F%2Fwww.canva.com%2Fdesign%2FDADfIIHpJyk%2Fremix&uid=28764867-d814-4ba3-a0dd-9157cc7cccb6&_branch_match_id=735181391433983307 color scheme */

/* https://www.canva.com/design/DADfD4wU2Y0/remix?action2=create&mediaId=DADfD4wU2Y0&signupReferrer=blog&utm_source=blog&utm_medium=content&utm_campaign=100-color-combinations&%24desktop_url=https%3A%2F%2Fwww.canva.com%2Fdesign%2FDADfD4wU2Y0%2Fremix&uid=28764867-d814-4ba3-a0dd-9157cc7cccb6&_branch_match_id=735181391433983307 other color option */
